.display-flex {
  display: flex;
}

.bg-blue {
  background-color: dodgerblue;
}

.mb-16 {
  margin-bottom: 16px;
}

.display-flex > div {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 10px;
  font-size: 30px;
}