.display-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.bg-blue {
  background-color: dodgerblue;
}

.bg-red {
  background-color: lightcoral;
}

.mb-16 {
  margin-bottom: 16px;
}

.display-flex > div {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
}

.overflow-auto {
  overflow: auto;
}