* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex.container {
  font-size: 30px;
  text-align: center;
}