* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.direction {
  flex-direction: row;
}

.flex.container {
  font-size: 30px;
  text-align: center;
}

.left-item {
  background-color: #f1f1f1;
  flex-grow: 1;
  padding: 10px;
}

.right-item {
  background-color: dodgerblue;
  flex-grow: 1;
  padding: 10px;
}

@media (max-width: 800px) {
  .direction {
    flex-direction: column;
  }
}