.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-flow {
  flex-flow: wrap row;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-stretch {
  align-items: stretch;
}

.items-baseline {
  align-items: baseline;
}

.bg-blue {
  background-color: dodgerblue;
}

.bg-red {
  background-color: lightcoral;
}

.mb-16 {
  margin-bottom: 16px;
}

.flex > div {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
}

.overflow-auto {
  overflow: auto;
}

.flex.container {
  height: 240px;
}

.flex.container.line {
  position: relative;
}

.flex.container.line::after {
  content: "";
  width: 100%;
  height: 1px;
  top: 125px;
  background-color: red;
  position: absolute;
}

.flex.container-2 {
  height: 600px;
}